<%= turbo_frame_tag "my_menu", target: "_top" do %>
  <div class="flex gap">
    <%= text_field_tag :search, nil,
          type: "search",
          role: "combobox",
          placeholder: "Type to jump to a collection, person, place, or tag…",
          class: "input input--transparent txt-small",
          autofocus: true,
          autocorrect: "off",
          autocomplete: "off",
          aria: { activedescendant: "" },
          data: {
            "1p-ignore": "true",
            filter_target: "input",
            nav_section_expander_target: "input",
            navigable_list_target: "input",
            action: "input->filter#filter" } %>
    <button class="fizzy-menu__close btn borderless txt-small" data-action="dialog#close">
      <%= icon_tag "close" %>
      <span class="for-screen-reader">Close menu</span>
    </button>
  </div>

  <%= render "filters/menu/hotkeys" %>

  <div class="margin-block-start-half txt-x-small flex-inline align-center gap-half justify-center txt-subtle">
    <span>Boxcar is designed, built, and backed by</span>
    <strong><%= icon_tag "37signals" %> <a href="https://37signals.com" target="_blank" class="txt-subtle">37signals</a>.</strong>
  </div>

  <%= render "filters/menu/custom", filters: @user_filtering.filters %>
  <%= render "filters/menu/collections", user_filtering: @user_filtering %>
  <%= render "filters/menu/tags", user_filtering: @user_filtering %>
  <%= render "filters/menu/users", user_filtering: @user_filtering %>
  <%= render "filters/menu/places", user_filtering: @user_filtering %>
  <%= render "filters/menu/accounts", user_filtering: @user_filtering %>

  <%= render "filters/menu/shortcut_notice" %>
<% end %>
